<!doctype html>
<html class="no-js" lang="en">

{% extends 'base.html' %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% block title %}{% endblock %}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>
    <div class="card-login" style="margin: 0 auto;">
        <h3>RepositoriesFeed</h3>
        <a href="{% url 'social:begin' 'github' %}">Login with GitHub</a><br>
    </div>
</body>

</html>