.repo-form{
    .slash-separator{
        margin: 1rem;
        display: inline-block;
        margin-top: 0px;
    }
    .md-btn--text{
        height: 2.3rem;
        margin-bottom: .75rem;
    }
    .md-text-field, .md-floating-label--inactive-sized{
        font-size: 15px !important;
    }
}